.popup{
  z-index: 10;
  min-width: 600px;
  max-width: 1000px;
  position: fixed;
  top: 40%;
  left:50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: #333333;
  border-color: #505050;
  border-style: solid;
  border-radius: 5px;
}
.popup-content{ 
  
  text-align: center;
  padding: 0px 25px 25px 25px;
  color: #D4D4D2;
}
  
.header{
  padding:0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header button{
  color: #D4D4D2;
  justify-content: center;
  cursor: pointer;
  background:transparent;
  border-style: none;
  font-size: 30px;
}
.header h1{
  padding-top: 40px;
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
}
.github-link{
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.github-link a{
  margin-top: 45px;
}
.text p {
  margin-bottom: 0px;
}

