*, *::before, *::after {
    box-sizing: border-box;
    font-weight: normal;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    color:white;
    background-color: #121111;
    padding: 0;
    margin: 0;
  }

.container {
  margin-top: 6.5%;
}

.output{
  border-style: solid;
  padding-top: 0px;;
  height: 80px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;;
  width: 380px;
}
h1{
  text-align: right;
  margin: 0px;
  font-size: 75px;
}
.buttons-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(100px, auto) repeat(5, 100px);
  column-gap: 10px;
  row-gap: 10px;
}
.basicButtons{
  color: white;
  border-style: none;
  background-color: #50505080;
  border-radius: 50%;
  font-size: 40px;
}
.basicButtons:hover{
  background-color: #d4d4d269;
}

.operetionButtonsRight{
  background-color: #ffa200;
  font-size: 50px;
}
.operetionButtonsRight:hover{
  background-color: #f7bd6c;
}

.operetionButtonsUp{
  color: #121111;
  background-color: #d4d4d29a;
}
.operetionButtonsUp:hover{
  background-color: #d4d4d2c4;
}
/* numer zero jest blizej lewej krawedzi */
.span-two{ 
  padding-left: 18%;
  text-align: left;
  color: white;
  border-style: none;
  background-color: #50505080;
  grid-column: span 2;
  font-size:40px;
  border-radius: 80px;
  
}
.span-two:hover{
  background-color: #d4d4d269;
}